<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base_generic.html' %}

{% block content %}
  <h2>Modifier la voiture : {{ voiture.marque }} {{ voiture.modele }}</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer les modifications</button>
  </form>

  <br>
  <a href="{% url 'liste_voitures' %}">Retour à la liste des voitures</a>
{% endblock %}

</body>
</html>