
.btn-ajouter-panier {
    background-color: #e0cd1f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.btn-ajouter-panier:hover {
    background-color: #e55b50;
}
.btn-ajouter-panier i {
    margin-right: 8px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #2d3e50;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s, transform 0.3s;
}


nav a:hover {
    background-color: #575757; 
    transform: scale(1.1); 
}

nav a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff6f61; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav a:hover:after {
    transform: scaleX(1); 
}


nav a i {
    margin-right: 8px; 
    font-size: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2d3e50;
}


.logo img {
    height: 80px; 
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
}

.search-bar input {
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    background-color: #2d3e50;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.search-bar button i {
    color: white;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .icon-link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.header-icons .icon-link i {
    margin-right: 5px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    font-size: 14px; 
    padding: 8px 15px;
}

nav a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

nav a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #289cb9;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav a:hover:after {
    transform: scaleX(1);
}

nav a i, .header-icons i {
    margin-right: 8px;
    font-size: 20px;
}

/* Header */
header {
    background-color: #f8f8f8;
    padding: 10px 0; /* Réduire l'espacement du haut et du bas */
    margin-bottom: 0; /* Supprimer l'espace en bas du header */
}
.btn-ajouter-panier {
    background-color: #e0cd1f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.btn-ajouter-panier:hover {
    background-color: #e55b50;
}
.btn-ajouter-panier i {
    margin-right: 8px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #2d3e50;
    color: white;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
nav {
    margin-top: 20px;
    text-align: center;
    background-color:#2d3e50;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #289cb9;
}
/* Icônes du header */
.header-icons .icon-link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s, transform 0.3s;
}

.header-icons .icon-link i {
    margin-right: 5px;
    font-size: 20px;
}

.header-icons .icon-link:hover {
    background-color: #575757; 
    transform: scale(1.1); 
}


.header-icons .icon-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1090b6; 
    transform: scaleX(0);
    color: #1090b6;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.header-icons .icon-link:hover:after {
    transform: scaleX(1); 
    color: #1090b6;
}
